ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#subsection {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
a {
    text-decoration:none;
    color: black;
}
div#nav {
    width: 200px;
    float: left;
    text-align: left;
    position: fixed;
    left: 30px;
    top: 10px;
    font-size: large;
    color: 1b8172;
}
div#canvas {
    margin-left: 250px;
    margin-top: 10px;
}
html {
    scroll-behavior: smooth;
}
